AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_REGION=us-east-1
S3_ENDPOINT=http://localhost:9000
S3_WAREHOUSE_BUCKET=warehouse
ICEBERG_CATALOG_URI=http://localhost:8181
TRINO_HOST=localhost
TRINO_PORT=8080
DUCKDB_PATH=var/duckdb/dev.duckdb
